body {
    width: 960px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: purple;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    
  }

  p {
      width: 450px; 
  }